@{
    ViewBag.Title = "Task 1";
}
<br />
<div class="jumbotron text-center">
    <h1>Task 1</h1>
    <p> @Html.ActionLink("Click here to challenge", "Index", "Task1", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

